<!-- ML Text Analyzer project template -->
<div class='container'>
	<div class='row'>
		<div class='col-xs-12 col-sm-12 col-md-12 page-header'>
			<h2>ML Text Analyzer
				<a href='https://github.com/matthewachan/ml-text-analyzer'>
					<img src='https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-128.png' alt='' class='glyphicon glyphicon-github' style='width: 25px; height: 25px; margin-top: -8px;'/>
				</a>
			</h2>
		</div>
	</div>
	<div style='overflow: hidden; width: 100%; height: 30%;'>
		<img src='../images/projects/ml-text-analyzer.JPG' alt='' style='width: 100%; margin-top: -75px'/>
	</div>
	<div class='row'>
		<div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1'>
			<img src='' alt=''/>
			<h3>Description</h3>
			<p style='padding-left: 22px'>
				This program is fed a photo containing columns of individual English letters. First, it performs matrix manipulations using Numpy to crop each letter down to each individual letter. Then, 40% of the inputted characters are used to train a machine learning algorithm. Afterwards, the model is tested against the remaining 60% of characters. Using this 40/60 training-to-testing ratio, the model achieved 100% accuracy, identifying all characters in the test set correctly.
			</p>
			<h3>Language</h3>
			<p style='padding-left: 22px'>
				Written in Python using Scikit-Learn, Numpy, OpenCV, Scipy and Matplotlib
			</p>
		</div>
	</div>
</div>
