<!-- OpenCV Image Tracker project template -->
<div class='container'>
	<div class='row'>
		<div class='col-md-12 page-header'>
			<h2>
				OpenCV Image Tracker
				<a href='https://github.com/matthewachan/OpenCV-Image-Tracker'>
					<img src='https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-128.png' alt='' class='glyphicon glyphicon-github' style='width: 25px; height: 25px; margin-top: -8px;'/>
				</a>
			</h2>
		</div>
	</div>
	<div style='overflow: hidden; width: 100%; height: 400px;'>
		<img src='../images/projects/opencv-image-tracker.jpg' alt='' style='width: 100%; margin-top: -75px'/>
	</div>
	<div class='row'>
		<div class='col-md-8 col-md-offset-1'>
			<img src='' alt=''/>
			<h3>Description</h3>
			<p style='padding-left: 22px'>
				This program highlights a specific object in a video by outlining it with a white box. OpenCV is used to take in an image of the object and track the location of the object throughout the video. Additionally, a graph is generated indicating the x/y coordinates of the object in the video throughout time.
			</p>

			<h3>Language</h3>
			<p style='padding-left: 22px'>
				Written in Python using OpenCV, Numpy and Matplotlib
			</p>
		</div>
	</div>
</div>
